*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

footer{
  
    width: 100%;
    height: 70px;
    background-color:  #2557a7;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.footerlinks {
    display: flex;
    gap: 20px;
}
.footerlinks a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}


@media(max-width: 600px){
    footer {
        padding: 20px 10px;
    }
}
